{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Car Collector</title>
</head>
<body>
    <nav>
        <p class="align-left">Car Collector</p>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/cars">All Cars</a>
    </nav>
    {% block content %}
    {% endblock %}  
</body>
</html>