body {
    box-sizing:border-box;
    background-color:rgb(244, 223, 199);
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav {
    width:100vw;
    background-color:rgb(248, 209, 162);
    height:7vh;
    font-size:3vmin;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav > * {
    margin: 0 1vw;
}

h1 {
    text-decoration: underline;
}

a {
    text-decoration: none;
    padding:0.5vmin;
    border-radius: 0.3vmin;
    color:rgb(174, 139, 92);
}

a:hover {
    background-color: rgb(241, 241, 212);
}

.align-left {
    margin-right:auto;
}

.card {
    font-size:2vmin;
    border: 0.3vmin solid white;
    width:50vw;
    border-radius: 0.6vmin;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2vh;
}

.card > p {
    margin:1vh 0;
}

.container {
    display:grid;
    grid-template-columns: 2fr 3fr;
    gap:2vmin;
}

.car-details {
    border:0.3vmin solid black;
    border-radius: 0.5vmin;
    text-align: center;
}



th, td {
    border:0.3vmin solid black;
    width:8vw;
    text-align: center;
}

th:last-child,td:last-child {
    width:15vw;
}

button {
    background-color:rgb(248, 209, 162);
    border-radius: 0.3vmin;
    height: 3vh;
    width: 10vw;
    font-size:1.5vmin;
    cursor:pointer;
}

.drivers {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr
}

li {
    margin-bottom:1vh;
}

.inline-button {
    display:inline;
    width:1vw;
}